{% extends 'zvmedia/index.html' %}
{% block content %}
        <div class="col-2 center mx-auto text-center content-book-list">
            <p><h2>Добавить новую категорию</h2></p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
            <div class="mb-3">    
                <input type="submit" value="Добавить" class="form-control">
            </div>
                {{ field.errors }}
            </form>
        </div>
{% endblock %}


