{% block 'booklist' %}
<table class="book-list text-center">
    <thead class="book-head">
        <th>Название</th>
        <th>Автор</th>
        <th>Категория</th>
        <th>Подкатегория</th>
        <th>Статус</th>
        <th>Слов</th>
        <th>Страниц</th>
        <th>Текущая страница</th>
        <th>Часов на чтение</th>
        <th>Часов затрачено</th>
        <th>Прогресс</th>
        <th>Прочитать к</th>
        <th>Осталось времени</th>
        <th>Избранное</th>
        <th>Действия</th>
    </thead>
    <tbody class="book-body">
        {% for book in books %}
        <tr>
            <td><a href="{% url 'browser_detail_book' book.slug %}">{{ book.name }}</a></td>
            <td>
                {% for author in book.author.all %}
                <a href="{% url 'books_author' author.slug %}">{{author.name}}</a>
                {% endfor %}
            </td>
            <td><a href="{% url 'books_category' book.category.slug %}">{{book.category}}</a></td>
            <td>
                {% for subcategory in book.subcategory.all %}
                <a href="{% url 'books_subcategory' subcategory.slug %}">{{subcategory.name}}</a>
                {% endfor %}
            </td>
            <td>
                {{book.status}}
            </td>
            <td>
                {{book.words_count}}
            </td>
            <td>
                {{book.pages_count}}
            </td>
            <td>
                {% if book.current_page == 1 %}
                -
                {% else %}
                {{book.current_page}}
                {%endif%}

            </td>
            <td>
                {{book.time_to_read}}
            </td>
            <td>
                {% if book.time_spent == 0.0 %}
                    0
                {% else %}
                    {{ book.time_spent|floatformat }}
                {%endif%}
            </td>
            <td>
                {% if book.progress == None %}
                    0.0 %
                {% else %}
                {{ book.progress |floatformat }} %
                {% endif %}
            </td>
            <td>
                {% if book.target_date == None %}
                    -
                {% else %}
                    {{ book.target_date }}
                {% endif %}
            </td>
            <td>
                {% if book.target_date == None %}
                    -
                {% else %}
                    Осталось {{ today |timesince:book.target_date }}
                {% endif %}
            </td>
            <td>
                {% if book.is_favorites == False %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star"
                    slug="{{ book.slug }}" favorites="{{ book.is_favorites }}" viewBox="0 0 16 16">
                    <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                </svg>
                {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-star-fill" slug="{{ book.slug }}" favorites="{{ book.is_favorites }}"
                    viewBox="0 0 16 16">
                    <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                {% endif %}
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary">
                        <a href="{% url 'pdf_init_book' book.slug %}">Читать</a>
                    </button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Переключатель выпадающего списка</span>
                    </button>
                    <ul class="dropdown-menu">
                        <!-- <a onclick="addReadingList()" href="#">Добавить в список</a> -->
                        <a href="{% url 'edit_book' book.slug %}">Редактировать</a>
                        <a onclick="removeBook()" href="{% url 'remove_book' book.slug %}">Удалить</a>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>

    // function addReadingList(){
    //     let readinglistsJS = "{{ readinglists_json }}"
    //     console.log(readinglistsJS)
    //     console.log(typeof(readinglistsJS))

    // }

    function removeBook() {
        console.log(this)
    }
</script>
{% endblock %}