{% extends 'zvmedia/index.html' %}

{% block content %}
<div class="content">
    <h2>Новая книга</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">Название </label>
        <input id="name" type="text" name="name" value="{{ object.name }}" class="form-control">
        <label for="name">Автор</label>
        {% for author in object.author.all %}
            <input id="author" type="text" name="author" value="{{author}}" class="form-control">
        {% endfor %}
        <label for="file">Файл</label>
        <input id="file" type="file" name="file" value="{{ object.file }}" class="form-control">
        <label for="name">Категория </label>
        <select name="category" class="form-control select-category" required="" id="id_category">
            {% for category in categories %}
                {% if category == object.category %}
                    <option selected slug="{{category.slug}}" class="categories" value="{{ category.pk }}">{{ category }}</option>
                {% else %}
                    <option slug="{{category.slug}}" class="categories" value="{{ category.pk }}">{{ category }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <label for="name">Подкатегория </label>
        <select name="subcategory" class="form-control" required="" id="id_subcategory" multiple="">
            {% for subcategory in subcategories %}
                {% if subcategory in object.subcategory.all %}
                    <option selected slug="{{subcategory.slug}}" class="subcategory" value="{{ subcategory.pk }}">{{ subcategory }}</option>
                {% else %}
                    <option slug="{{subcategory.slug}}" class="subcategory" value="{{ subcategory.pk }}">{{ subcategory }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <label for="target_date">Прочитать до</label>
        <input id="target_date" type="date" name="target_date" value="" class="form-control">
        {% if reading_list %}
        <label for="name">Список чтения </label>
        <select name="reading_list" class="form-control select-reading_list" id="id_reading_list">
            {% for reading_list in reading_list.all %}
            <option slug="{{reading_list.slug}}" class="reading_list" value="{{ reading_list.pk }}">{{ reading_list }}</option>
            {% endfor %}
        </select>
        {% endif %}
        <input type="submit" value="Submit" class="form-control">
        {{ field.errors }}
    </form>
</div>

<script>
    function exec() {
        const current_user = "{{ user }}"
        let current_category = "{{ object.category }}"
        console.log(current_category)
        const selectCategory = document.querySelector('.select-category');
        slug = selectCategory.options[selectCategory.selectedIndex].getAttribute('slug')
        selectCategory.addEventListener('change', () => {
            slug = selectCategory.options[selectCategory.selectedIndex].getAttribute('slug')
            console.log(slug)
            getSubcategories(current_user, slug)
        })
        // selectCategory.addEventListener('click', () => {
        //     getCategories()
        //     getSubcategories(current_user, slug)
        // })
        // initCurrentBookData()
        //getCategories()
        // getSubcategories(current_user, slug)
    }


    // function getCategories() {
    //     const uploadurl = "/books/getcategories/"
    //     fetch(uploadurl,
    //         {
    //             method: "GET",
    //         })
    //         .then(response => categories = response.json())
    //         // .then(subcategories => console.log(subcategories))
    //         .then(categories => setCategories(categories))
    //         .catch(err => alert(err));
    // }

    // function setCategories(categories) {
    //     console.log(categories)
    //     // console.log(typeof(subcategories))
    //     // console.log(Object.keys(subcategories).length)
    //     // console.log(subcategories)
    //     size = Object.keys(categories).length
    //     if (size == 0){
    //         let categoryOpttion = document.createElement('option');
    //         select.innerHTML = ""
    //         categoryOpttion.value = 1;
    //         categoryOpttion.innerHTML = "Для данной категории не существует  подкатегорий";
    //         select.appendChild(categoryOpttion);
    //         return
    //     }
    //     select = document.getElementById('id_category');
    //     select.innerHTML = ""
    //     for (let index = 0; index < size; index++) {
    //         let categoryOpttion = document.createElement('option');
    //         categoryOpttion.value = categories[index][0];
    //         categoryOpttion.innerHTML = categories[index][1];
    //         console.log(categories[index])
    //         select.appendChild(categoryOpttion);
    //     }


    // }

    function getSubcategories(current_user, slug) {
        const uploadurl = "/books/getsubcategories/" + slug
        fetch(uploadurl,
            {
                method: "GET",
            })
            .then(response => subcategories = response.json())
            // .then(subcategories => console.log(subcategories))
            .then(subcategories => setSubcategories(subcategories))
            .catch(err => alert(err));
    }

    function setSubcategories(subcategories) {
        // console.log(typeof(subcategories))
        // console.log(Object.keys(subcategories).length)
        console.log("{{subcategories}}|escapejs")
        size = Object.keys(subcategories).length
        if (size == 0){
            let subcategoryOpttion = document.createElement('option');
            select.innerHTML = ""
            subcategoryOpttion.value = 1;
            subcategoryOpttion.innerHTML = "Для данной категории не существует  подкатегорий";
            select.appendChild(subcategoryOpttion);
            return
        }
        select = document.getElementById('id_subcategory');
        select.innerHTML = ""
        for (let index = 0; index < size; index++) {
            let subcategoryOpttion = document.createElement('option');
            subcategoryOpttion.value = subcategories[index][0];
            subcategoryOpttion.innerHTML = subcategories[index][1];
            select.appendChild(subcategoryOpttion);
        }


    }
    window.onload = exec()
</script>

{% endblock %}


{% for subcategory in subcategories %}
{% for subcategory2 in object.subcategory.all %}
        {% if subcategory == subcategory2 %}
            <option selected slug="{{subcategory2.slug}}" class="subcategory2" value="{{ subcategory2.pk }}">{{ subcategory2 }}</option>
        {% else %}
            <option slug="{{subcategory.slug}}" class="subcategory" value="{{ subcategory.pk }}">{{ subcategory }}</option>
        {% endif %}
    {% if forloop.parentloop.counter < object.subcategory.all|length %}
    {% endif %}
{% endfor %} 
{% endfor %}