{% extends 'zvmedia/index.html' %}
{%load static%}

{% block content %}
<div class="container-fluid">
  <div class="row flex-nowrap">
    {% include "./sidebar.html" %}
    <div class="modalContent">
      <span class="close"><a href="{% url 'books' %}"> &times;</span></a>
      <canvas id="myChart"></canvas>
    </div>
  </div>
</div>

{{ dataset|json_script:"dataset" }}
{{ labels|json_script:"labels" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>


<script>

  // let context = "{{ dataset|escapejs }}"
  const dataset = JSON.parse(document.getElementById('dataset').textContent);
  const labels = JSON.parse(document.getElementById('labels').textContent);
  const autocolors = window['chartjs-plugin-autocolors'];
  let context = document.getElementById("myChart").getContext('2d');
  const createLineChart = (BookName, values) => {
    let data = {
      labels: labels,
      datasets: [{
        label: "Активность за последние 7 дней",
        data: values,
        pointStyle: false,
        fill: true,
        borderWidth: 1,
      }]
    }
    let config = {
      type: 'bar',
      data: data,
    }
    let chart = new Chart(context, config);
    // Chart.register(autocolors);
  }


  // dataset['data'].forEach(element => {
  //   names.push(element['name'])
  //   dates.push(element['date'])
  //   values.push(element['value'])
  // });

  // console.log(names)
  // console.log(dates)
  // console.log(values)


  // for (let index = 0; index < names.length; index++) {

  //   if (!tempNames.includes(names[index])) {
  //     tempNames.push(names[index])
  //     datasets.push({
  //     label: names[index],
  //     data: [values[index]],
  //     pointStyle: false,
  //     fill: true,
  //     borderWidth: 1
  //   })
  //   } else {
  //     values.push(values[index])
  //   }
  // }
  // console.log(datasets)
  // console.log(datasets)
  // createLineChart()
  BookName = []
  values = []

  for (key in dataset) {
    BookName.push(dataset[key]["label"])
    values.push(dataset[key]["values"])
    
  }
  console.log(BookName)
  console.log(values)
  createLineChart(BookName, values)
  // for (key in dataset) {
  //   BookName.push(dataset[key]["label"])
  //   values.push(dataset[key]["values"])
  //   datasets.push({label: dataset[key]["label"], data: dataset[key]["values"]})
  // }
  // createLineChart()


  var btn = document.getElementById("btn");
  var span = document.getElementsByClassName("close")[0];


  // createLineCharts()
</script>

{% endblock %}