    /* Панель плеера */
    .audio-player-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 90px;
        background: #222;
        /* Темный фон */
        color: white;
        border-top: 1px solid #444;
        z-index: 9999;
        /* Поверх всего */
        padding: 10px 20px;
        display: flex;
        align-items: center;
    }

    .player-grid {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        width: 100%;
        align-items: center;
    }

    .player-controls {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .progress-box {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    #progress-bar {
        flex-grow: 1;
        accent-color: #007bff;
    }

    .main-play-btn {
        background: #007bff;
        border: none;
        color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        margin-bottom: 5px;
    }

    /* Отступ для таблицы, чтобы плеер её не закрывал */
    .data-tables {
        margin-bottom: 100px;
    }