{% extends 'zvmedia/index.html' %}

{% block content %}
    <form class="login-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" id="username" name="username" required placeholder=" ">
                <label for="username">Имя пользователя</label>
                <i class="fas fa-user"></i>
            </div>
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors }}</div>
                {% endif %}
            <div class="form-group">
                <input type="password" id="password" name="password" required placeholder=" ">
                <label for="password">Пароль</label>
                <i class="fas fa-lock"></i>
            </div>
            {% if form.password.errors %}
                    <div class="error">{{ form.password.errors }}</div>
                {% endif %}
                <div class="form-group">
            <input type="submit" value="Войти">
        </div>
        </form>
        {{ field.errors }}
    </form>
{% endblock %}
